/* Meie loodud stiilileht, mis täiendab ja kirjutab yle bootstrapi vaikimisi stiili */

#dogSearchbox {
border: 1px grey;
border-radius: 20px;
background-color: white !important;
margin: 30px !important;
}


#searchdogbreed{
margin: 30px ;
}


#searchdoglocation {
margin-bottom: 30px ;
}


#HeadingRow{
color: #17a2b8 !important;    
margin-left: 10px;
}

#dogsHeadingCol1{
margin-top: 15px;
}


#dogsHeadingCol2{
margin-bottom: 15px;
}

#dogsHeadingCol3{
margin-top: 20px;
}



/* 
#RowHeading{
color: #17a2b8 !important;    
}
 */


#size-query-icons {
margin-top: 20px;
}

#size-query-icons > img{
margin-right: 40px;

}